body {
  background: #3b4664;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

#keyboard {
  display: grid;
  grid-template-areas:
    "seven eight nine del"
    "four five six plus "
    "one two three mines"
    "point zero divide multiply"
    "reset reset equal equal";
  width: 300px;
  background: #252d44;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

#calculator {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  margin-top: 40px;
}

#screen {
  height: 100px;
  background: #181f32;
  margin-bottom: 20px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px ; */
  color: white;
  font-size: 32px;
  padding: 3px;
}

#result {
  color: #02ff78;
  text-align: right;
  font-size: 40px;
  margin: 0;
  line-height: 2.3;
  margin-right: 20px;
}

button {
  height: 35px;
  margin: 10px;
  color: #464b59;
  border-radius: 7px;
  font-weight: bold;
  font-size: 17px;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#delete,
#reset {
  grid-area: del;
  color: white;
  background: #647299;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#plus {
  grid-area: plus;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#mines {
  grid-area: mines;
}

#dot {
  grid-area: point;
}

#zero {
  grid-area: zero;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#reset {
  grid-area: reset;
}

#equal {
  grid-area: equal;
  background: #d13f30;
}

#reset,
#equal {
  height: 35px;
  color: white;
}

.center {
  text-align: center;
}

@media screen and (max-width:300px) {

  #calculator {
    width: 250px;
    margin: auto;
    margin-top: 100px;
    margin-top: 40px;
  }

  #keyboard {
    width: 250px;
  }
}